  <p class="subtitle">{{ titulo?subtitulo:'MusiChef' }}</p>
  <div class="bg">
      <p class="news_txt">{{ titulo|default('Concierto solidario :La Plaza del Ayuntamiento acogerá el 12 de diciembre a las 19.30 h. la iniciativa en la que cocineros prepararán sabrosos platos al ritmo de la música en directo. ') }}</p>
  </div>
