/* ===================== #Estructura================================================== */
body {
	font-family: Helvetica, Arial, sans-serif;
    min-width:315px;
    height:100%
}
body#city {
	font-family: Helvetica, Arial, sans-serif;
	background: url(../../img/bg.jpg) no-repeat center center #000 fixed;
    min-width:315px;
    height:100%
}

#wrapper{overflow:hidden;position:relative}
#city #wrapper{min-height:560px;margin-top:20px}
.left{float:left}
.right{float:right}
.active{display:block !important}

#header{  
	padding: 10px 10px 20px;
    text-align: center;
    width: 100%;
    display:none
}

#splash, #container, #container canvas{width:100%}

/*===================__ WINDOW2 __=====================*/
#window2{display:none}
/*--sidebar--*/

#sidebar{float:left;width:60px;position:absolute;top:50%;margin-top:-280px;z-index:1000;padding:10px;border-top:5px solid #ec06bb;
	background-image: -webkit-gradient(linear, left top, left bottom, from rgba(48,48,48,0.9), to rgba(0,0,0,0.9));/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Chrome 10+, Saf5.1*/
	background-image: -moz-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* FF3.6 */
	background-image: -ms-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* IE10 */
	background-image: -o-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Opera 11.10*/
	background-image: linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));
	background /*\**/: url(../../img/bg_sidebar.jpg)repeat-x left bottom #303030\9; /* Internet Explorer 8 */
	*background: url(../../img/bg_sidebarr.jpg)repeat-x left bottom #303030 /* Internet Explorer 6 e 7 */ 
}
.icon_menuSidebar{
	background: url("../../img/bg_button-menu.png") no-repeat scroll center -60px transparent;
    height: 60px;
    margin: 25px 0;
    position: relative;
    width: 60px;
}
.icon_menuSidebar a{
	cursor: pointer;
    display: block;
    font-size: 11px;
    padding-top: 65px;
    text-align: center;
    text-transform: uppercase;
}
.icon_menuSidebar.active {background-position:center 0px;}

.icon_menuSidebar a  span{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
#iconCity span{
	background:url(../../img/menu-icon.png)no-repeat 14px 5px;*background-image:url(../../img/menu-icon.png);*background-repeat:no-repeat;*background-position:14px 5px;
}
#iconSports span{
	background:url(../../img/menu-icon.png)no-repeat 14px -78px;*background-image:url(../../img/menu-icon.png);*background-repeat:no-repeat;*background-position:14px -78px;
}
#iconColours span{
	background:url(../../img/menu-icon.png)no-repeat 14px -164px;*background-image:url(../../img/menu-icon.png);*background-repeat:no-repeat;*background-position:14px -164px;
}
#iconEvents span{
	background:url(../../img/menu-icon.png)no-repeat 14px -249px;*background-image:url(../../img/menu-icon.png);*background-repeat:no-repeat;*background-position:14px -249px;
}
#iconPics span{
	background:url(../../img/menu-icon.png)no-repeat 14px -334px;*background-image:url(../../img/menu-icon.png);*background-repeat:no-repeat;*background-position:14px -334px;
}
#iconVideo span{
	background:url(../../img/menu-icon.png)no-repeat 14px -419px;*background-image:url(../../img/menu-icon.png);*background-repeat:no-repeat;*background-position:14px -419px;
}

.icon_menuSidebar:hover #iconCity span, .icon_menuSidebar:focus #iconCity span{background-position:-36px 5px;}
.icon_menuSidebar:hover #iconSports span,.icon_menuSidebar:focus #iconSports span{background-position:-36px -78px;}
.icon_menuSidebar:hover #iconColours span,.icon_menuSidebar:focus #iconColours span{background-position:-36px -164px;}
/*.icon_menuSidebar:hover #iconEvents span,.icon_menuSidebar:focus #iconEvents span{background-position:-36px -249px;}
.icon_menuSidebar:hover #iconPics span,.icon_menuSidebar:focus #iconPics span{background-position:-36px -334px;}
.icon_menuSidebar:hover #iconVideo span,.icon_menuSidebar:hover #iconVideo span{background-position:-36px -419px;}

 /*eventual*/
#iconEvents, #iconPics, #iconVideo{cursor:default;}

/*--CONTENT--*/
#content{
	width:50%;
	margin:0 5% 0 10%;
	float:left;
	position:relative;
	overflow:hidden
}

/*--player--*/
#playerContainer{
	width:100%;
	float:left;
	position:relative;
	overflow:hidden;
	text-align:center
}

/*--box-central_content--*/
.box-central_content{
	padding:2%;
	background:rgba(0,0,0,0.8);*background:#000;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0)!important;
	-moz-opacity: 0!important;
	-khtml-opacity: 0!important;
	opacity:  0!important;
	position:absolute;top:0;left:0*/
	display:none;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	
}
.central_content{width:100%}

.playertitle{padding:3% 1% 0}
.playertitle p{font-size:20px;color:#999}
.playertitle p span{font-size:14px}

/*--box_buscador--*/
#box_buscador{
	margin-top:2%;
	text-align:center;
	float:left;
	border-top:5px solid #51bdbb;
	padding:2%;
	width:96%;
	background-image: -webkit-gradient(linear, left top, left bottom, from rgba(48,48,48,0.9), to rgba(0,0,0,0.9));/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Chrome 10+, Saf5.1*/
	background-image: -moz-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* FF3.6 */
	background-image: -ms-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* IE10 */
	background-image: -o-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Opera 11.10*/
	background-image: linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));
	background /*\**/: url(../../img/bg_sidebar.jpg)repeat-x left bottom #303030\9; /* Internet Explorer 8 */
	*background: url(../../img/bg_sidebarr.jpg)repeat-x left bottom #303030 /* Internet Explorer 6 e 7 */ 
}
.tit_search{display:none}
#lupa{background:url(../../img/lupa.png)no-repeat right center #fff;width:87%;	margin:10px auto 20px}
#lupa:focus{color:#fff;background:url(../../img/lupa-focus.png)no-repeat right center #51bdbb;}

#mod_filter a{text-transform:uppercase;text-align:center;font-size:10px;
}
#switch{
	background: url("../../img/button_buscador-small.png") no-repeat scroll 0 -52px transparent;
    float: left;
    height: 35px;
    padding: 18px 0 0 57px;
    width: 86px;
}
#filter{
	background: url("../../img/button_buscador-small.png") no-repeat scroll -149px -51px transparent;
    float: right;
    height: 35px;
    margin: 0 10px;
    padding: 18px 0 0 42px;
    width: 68px;
}
#calendar{
	background: url("../../img/button_buscador-small.png") no-repeat scroll -264px -51px transparent;
    float: right;
    height: 28px;
    padding: 24px 0 0 34px;
    width: 78px;
}
#switch.active, .icon_mod-options-data.active{background-position: 0px 0px}
#filter.active{background-position: -149px 0px}
#calendar.active{background-position: -264px 0px}

#mod_filter a.active{color:#fff}

/*--widgets--*/
#widgets{float:left;width:30%;position:relative}
.visible{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100)!important;
	-moz-opacity: 1!important;
	-khtml-opacity: 1!important;
	opacity: 1 !important;
}
.modulo_widget{position:absolute;top:0;width:100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
}
.tit_widget{color:#fff;font-size:18px;font-weight:bold;padding:10px;border-bottom:1px solid #000;border-top:5px solid #3f8bfb;background:rgba(48,48,48,0.9);
}
.flexa{
	background: url(../../img/down.png)no-repeat left bottom;
    display: block;
    float: left;
    height: 10px;
    width: 9px;
    margin-right:10px;
    cursor:pointer
}
.tit_widget .close{display:none}
.scroll-pane{
	width: 100%;
	height: 30%;
	overflow: auto;
}
.content_widget{height:100%;overflow:hidden;
	background-image: -webkit-gradient(linear, left top, left bottom, from rgba(48,48,48,0.9), to rgba(0,0,0,0.9));/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Chrome 10+, Saf5.1*/
	background-image: -moz-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* FF3.6 */
	background-image: -ms-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* IE10 */
	background-image: -o-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Opera 11.10*/
	background-image: linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));
	background /*\**/: url(../../img/bg_sidebar.jpg)repeat-x left bottom #303030\9; /* Internet Explorer 8 */
	*background: url(../../img/bg_sidebarr.jpg)repeat-x left bottom #303030 /* Internet Explorer 6 e 7 */ 

}
.content_widget li{ text-align:center;overflow:hidden;padding:10px 20px;border-top:1px solid #444;border-bottom:1px solid #000}
.content_widget li .cont_img{float:left;width:20%;text-align:center}
.content_widget li img{width:100%;max-width:50px;}
.content_widget li .txt_widget{text-align:left;float:right;width:75%}
.content_widget li p.autor{color:#3f8bfb}

/*====================__ WINDOW1 __=======================*/

#barra{overflow:hidden;border-top:5px solid #000;position:absolute;bottom:0; width:100%;text-align:center;
	background-image: -webkit-gradient(linear, left top, left bottom, from rgba(48,48,48,0.9), to rgba(0,0,0,0.9));/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Chrome 10+, Saf5.1*/
	background-image: -moz-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* FF3.6 */
	background-image: -ms-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* IE10 */
	background-image: -o-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Opera 11.10*/
	background-image: linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));
	background /*\**/: url(../../img/bg_sidebar.jpg)repeat-x left bottom #303030\9; /* Internet Explorer 8 */
	*background: url(../../img/bg_sidebarr.jpg)repeat-x left bottom #303030 /* Internet Explorer 6 e 7 */ 
}
#barra img{cursor:pointer;margin-bottom:10px}

#cont_barra{margin:0 auto;width:1000px;overflow:hidden}

#mod_cityinfo, #mod_options, #mod_news{width:275px;float:left}
#mod_options{margin:0px 10px 10px;width:360px}
#mod_cityinfo,  #mod_news{margin:25px 10px 10px;height:150px}


.subtitle{text-transform:uppercase;color:#999;font-size:15px;text-align:left;margin-bottom:0}

#mod_cityinfo .cityinfo-cont{
	background-image: -webkit-gradient(linear, left top, left bottom, from rgba(48,48,48,0.9), to rgba(0,0,0,0.9));/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Chrome 10+, Saf5.1*/
	background-image: -moz-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* FF3.6 */
	background-image: -ms-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* IE10 */
	background-image: -o-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Opera 11.10*/
	background-image: linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));
	background /*\**/: url(../../img/bg_sidebar.jpg)repeat-x left bottom #303030\9; /* Internet Explorer 8 */
	*background: url(../../img/bg_sidebarr.jpg)repeat-x left bottom #303030 /* Internet Explorer 6 e 7 */ 

}
#mod_cityinfo .cityinfo-cont p{background-image:url(../../img/iconCity.png);background-repeat:no-repeat;background-position:8px 3px; padding: 5px 0 3px 0px;}
#mod_cityinfo .subtitle{border-bottom:5px solid #ffd921}
#mod_cityinfo p span{margin-right:10px}
#mod_cityinfo ul{overflow:hidden;border-top:1px solid #343434;	
	background-image: -webkit-gradient(linear, left top, left bottom, from rgba(48,48,48,0.9), to rgba(0,0,0,0.9));/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Chrome 10+, Saf5.1*/
	background-image: -moz-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* FF3.6 */
	background-image: -ms-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* IE10 */
	background-image: -o-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Opera 11.10*/
	background-image: linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));
	background /*\**/: url(../../img/bg_sidebar.jpg)repeat-x left bottom #303030\9; /* Internet Explorer 8 */
	*background: url(../../img/bg_sidebarr.jpg)repeat-x left bottom #303030 /* Internet Explorer 6 e 7 */ 
}
#mod_cityinfo ul li{font-weight:bold;font-size:20px;color:#fff;float:left;text-align:center;height:20px;padding-top:5px;padding-bottom:5px;margin:10px 0;} 
#mod_cityinfo ul li#weather{background-image:url(../../img/iconDgree.png);background-repeat:no-repeat;background-position:15px 0px;padding-left:40px;width:60px;border-right:1px solid #000}
#mod_cityinfo ul li#max-weather{background-image:url(../../img/max.png);background-repeat:no-repeat;background-position:15px 10px;padding-left:13px;width:70px;border-left:1px solid #343434;border-right:1px solid #000}
#mod_cityinfo ul li#min-weather{background-image:url(../../img/min.png);background-repeat:no-repeat;background-position:15px 10px;padding-left:13px;width:70px;border-left:1px solid #343434;}
#mod_cityinfo ul li#iconWeather{background-image:url(../../img/iconWeather.png);background-repeat:no-repeat;background-position:15px 0px;width:55px;border-right:1px solid #000}
#mod_cityinfo ul li#wind-weather{background-image:url(../../img/iconWind.png);background-repeat:no-repeat;background-position:15px 0px;padding-left:30px;width:80px;border-left:1px solid #343434;border-right:1px solid #000}
#mod_cityinfo ul li#wet-weather{background-image:url(../../img/iconWet.png);background-repeat:no-repeat;background-position:15px 0px;padding-left:20px;width:80px;border-left:1px solid #343434;}


#mod_options .subtitle{border-bottom:5px solid #148cc7}
#mod_options ul{background:rgba(255,255,255,0.3);overflow:hidden;padding:10px 5px}
.icon_mod-options{
	background: url("../../img/bg_button-options.png") no-repeat scroll center -60px transparent;
    height: 60px;
    margin: 0px 5px 25px 5px;
    position: relative;
    width: 60px;
    float:left
}

.icon_mod-options-data{float:left;margin-left:110px;background: url("../../img/button_buscador-small.png") no-repeat scroll 0 -52px transparent; cursor:pointer}
#iconData{
	font-size:10px;text-transform:uppercase;display:block;padding-top:8px;height: 36px;
     padding: 16px 0 0 58px;
    width: 86px;
}


.icon_mod-options a,#iconData a{
	cursor: pointer;
    display: block;
    font-size: 11px;
    padding-top: 65px;
    text-align: center;
    text-transform: uppercase;
}
.icon_mod-options.active {background-position:center 0px;}

.icon_mod-options a  span{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
#iconNight span{
	background:url(../../img/icon-options.png)no-repeat 9px 12px;*background-image:url(../../img/icon-options.png);*background-repeat:no-repeat;*background-position: 9px 12px;
}
#iconCowd span{
	background:url(../../img/icon-options.png)no-repeat -61px 12px;*background-image:url(../../img/icon-options.png);*background-repeat:no-repeat;*background-position: -61px 12px;
}
#iconPlay span{
	background:url(../../img/icon-options.png)no-repeat -132px 12px;*background-image:url(../../img/icon-options.png);*background-repeat:no-repeat;*background-position: -132px 12px;
}
#iconRevff span{
	background:url(../../img/icon-options.png)no-repeat -201px 12px;*background-image:url(../../img/icon-options.png);*background-repeat:no-repeat;*background-position: -201px 12px;
}


.icon_mod-options:hover #iconNight span, .icon_mod-options:focus #iconNight span{background-position:9px -38px ;}
.icon_mod-options:hover #iconCowd span,.icon_mod-options:focus #iconCowd span{background-position:-61px -38px;}
.icon_mod-options:hover #iconPlay span,.icon_mod-options:focus #iconPlay span{background-position: -132px -38px;}
.icon_mod-options:hover #iconRevff span,.icon_mod-options:focus #iconRevff span{background-position: -201px -38px;}
.icon_mod-options-data:hover a, .icon_mod-options-data:focus a{color:#fff}

#mod_news .bg{height:137px;
	background-image: -webkit-gradient(linear, left top, left bottom, from rgba(48,48,48,0.9), to rgba(0,0,0,0.9));/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Chrome 10+, Saf5.1*/
	background-image: -moz-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* FF3.6 */
	background-image: -ms-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* IE10 */
	background-image: -o-linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));/* Opera 11.10*/
	background-image: linear-gradient(rgba(48,48,48,0.9), rgba(0,0,0,0.9));
	background /*\**/: url(../../img/bg_sidebar.jpg)repeat-x left bottom #303030\9; /* Internet Explorer 8 */
	*background: url(../../img/bg_sidebarr.jpg)repeat-x left bottom #303030 /* Internet Explorer 6 e 7 */ 
}
#mod_news .subtitle{border-bottom:5px solid #03b3ae}
#mod_news .news_txt{font-size:15px;padding:10px 20px;text-align:left;background-image:url(../../img/iconNews.png);background-repeat:no-repeat;background-position:7px 18px}
